* {
    box-sizing: border-box;
}
body {
    max-width: 960px;
    margin: 0 auto;
    font-size: 30px;
    color: white;
    margin: 40px 0;
}
.site {
    width: 100%;
    margin: 0 20%;
}
div {
    display: inline-block;
    width: 50%;
    height: 50px;
    float: left;
    margin: 20px 0;
    text-align: center;
}
.a {
    background-color: blueviolet;
}
.b {
    background-color: brown;
}
.c {
    background-color: black;
    border-right: solid 25px yellow;
}
.d {
    background-color: deeppink;
}