$width1: 100%;
$main-font: sans-serif;

$mq-ss: "(max-width: 480px)";
$mq-xs: "(min-width: 481px) and (max-width: 767px)";
$mq-sm: "(min-width: 768px) and (max-width: 979px)";
$mq-md: "(min-width: 980px) and (max-width: 1199px)";
$mq-pc: "(min-width: 1200px)";


